[submodule "RoverCodes"]
	path = RoverCodes
	url = https://github.com/Aarish-Patel/RoverCodes
[submodule "Rover_PCBs"]
	path = Rover_PCBs
	url = https://github.com/Aarish-Patel/Rover_PCBs
[submodule "mrm-ecs-tasks"]
	path = mrm-ecs-tasks
	url = https://github.com/Aarish-Patel/mrm-ecs-tasks
